<div id="install" class="container">
  <h2>Have eight seconds? <em>Try PsySH</em></h2>

  <div class="row">
    <div class="curl col-md-5">
      <p class="title">The easy way</p>
      <div class="shell">
        <div class="line">
          <span class="cmd">wget</span>
          <span class="args">https://git.io/psysh</span>
        </div>
        <div class="line">
          <span class="cmd">chmod</span>
          <span class="args">+x psysh</span>
        </div>
        <div class="line">
          <span class="cmd">./psysh</span>
        </div>
      </div>
      <div class="instructions">
        <a href="https://github.com/bobthecow/psysh/releases">
          (Additional releases available on GitHub)
        </a>
      </div>
    </div>
    <div class="or col-md-2"><em>or</em></div>
    <div class="composer col-md-5">
      <p class="title">The other easy way</p>
      <div class="shell">
        <div class="line">
          <span class="cmd">composer</span>
          <span class="args">g require psy/psysh:@stable</span>
        </div>
        <div class="line">
          <span class="cmd">psysh</span>
        </div>
      </div>
      <div class="instructions">
        <a href="https://getcomposer.org/doc/03-cli.md#global">
          (Be sure set up your <code>$PATH</code> for Composer)
        </a>
      </div>
    </div>
  </div>
</div>
